
/* Presets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Font imports ***/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/****** Custom properties********/

:root {
    /* --body-font-family: 'Poppins', sans-serif; */
    --body-font-size: clamp(1.125rem, 0.123vw + 1.097rem, 1.25rem);
    --body-font-line-height: clamp(1.463rem, 0.407vw + 1.371rem, 1.875rem);
    --body-font-color: rgb(100, 100, 100);
    --headings-font-size: clamp(1.75rem, 0.247vw + 1.694rem, 2rem);
    --headings-font-family: 'Inter', sans-serif;
    --headings-font-color: #000000;
    --orange:#d95204;
    --cta-comprar: #d95204;
    --cta-asesor: #0dbe0dfb;
    --border-color: #ffd700bd;
}


  /********************** Base ***********************/




  p {
    /* font-family: var(--body-font-family); */
    font-size: var(--body-font-size);
    /* color: var(--body-font-color); */
    line-height: var(--body-font-line-height);
  }
  ul {
    list-style-type: none;
    padding-left: unset !important;
  }

  li {
    font-size: var(--body-font-size);
    margin: 15px 0px;
  }

  h3 {
    font-family: var(--headings-font-family);
    font-weight: 600;
    line-height: clamp(2.625rem, 0.37vw + 2.542rem, 3rem);
    color: var(--headings-font-color)

  }

  img {
    border: 4px solid var(--border-color);
}

a.cta-asesor, a:link.cta-asesor, a:active.cta-asesor {
  padding: 10px 12px;
  background-color: var(--cta-asesor);
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin: 15px;
  font-size: clamp(1rem, 0.449vw + 0.89rem, 1.25rem);
}

  /********************** End of Base ***********************/

  /***************** Hero Section *******************************/

  header {
    width: 100vw;
  }
  .hero {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0;
    min-height: 35vh;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
  }

  .hero::after {
    content: "";
    background-image: url(../assets/hero-cover.png);
    background-position: center center;
    object-fit:contain;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.6;
    width: 100vw;
  }

  .hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .hero-text-content {
    max-width: 800px;
    
  }

  /*****************End of Hero Section *******************************/
  
  .page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /*****************Main Content Section *******************************/
  
  .intro-text {
    padding: 10px;
    line-height: 1.5;
  }

  .plantilla-main-content {
    max-width: 800px;
    width: 100%;
  }
  
  
  .border-gray {
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
    margin: 35px 5px;
  }
  
  .call-to-action {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .call-to-action:hover {
    background-color: #444;
  }
  
  /*****************Preguntas Frecuentes Section *******************************/
.accordion-button {
  font-size:var(--body-font-size);
  background-color: #F8F8F8;
}


  /*****************Garantia Section *******************************/

  .img-garantia {
    max-width: 150px;
    width: 100%;
    border: unset !important;
  }

  /*****************End of Garantia Section *******************************/



  /*****************End of Main Content Section *******************************/



  /*****************Sidebar Content Section *******************************/

  .sidebar {
    width: 400px;
    padding: 0 15px;
  }

  .sidebar-wrapper {
    position: sticky;
    top: -15px;
    bottom: 50px;
  }

  .sidebar__vsl {
    position: relative;
  }

  iframe {
    max-width: 400px !important;
  }

  /* .sidebar__vsl::after {
    content: "";
    top: 0px;
    left: 0px; 
    bottom: 0px;
    right: 0px;
    width: 400px;
    background-image: url(../assets/terapia-angelical-video_overlay.webp);
    object-fit:cover;
    background-position: center center;
    position: absolute;
    background-repeat: no-repeat;
  } */

  .sidebar-text-container {
    margin-left: 15px;
    margin-top: -35px;
  }

  .sidebar-price {
    font-weight: 700;
    font-size: 26px;
  }

  .sidebar-supporting-text {
    color: var(--orange);
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    position: relative;
    top: 8px;
  }

  a.sidebar-cta-button, a:link.sidebar-cta-button, a:active.sidebar-cta-button,
  a.sidebar-cta-asesor, a:link.sidebar-cta-asesor, a:active.sidebar-cta-asesor {
    padding: 10px 12px;
    background-color: var(--orange);
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 0 15px;
    font-size: clamp(1rem, 0.449vw + 0.89rem, 1.25rem);
    text-align: center;
  }

  a.sidebar-cta-asesor, a:link.sidebar-cta-asesor, a:active.sidebar-cta-asesor{
    background-color: white;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-weight: 700;
  }

  .sidebar__details-text{
    color: var(--cta-comprar);
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
  }


  /*****************End of Sidebar Content Section *******************************/
  
  
  
  /*****************Mobile Menu Section *******************************/
  
  .mobile-cta-container {
    margin: 0;
    position: sticky;
    bottom: 0px;
    left: 0px;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0,0,0,.08), 0 -4px 12px rgba(0,0,0,.08);
    max-height: 6
  }

  .mobile-cta-price__old {
    font-size: 18px;
    text-decoration: line-through;
    color: gray;
  }

  .mobile-cta-price {
    font-size: 24px;
    font-weight: 600
  }
  
  
  a.mobile-cta-button, a:link.mobile-cta-button, a:active.mobile-cta-button {
    padding: 10px 12px;
    background-color: var(--cta-comprar);
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 0 0 0 15px;
    font-size: clamp(1rem, 0.449vw + 0.89rem, 1.25rem);
    text-align: center;
  }


  /*****************End of Mobile Menu Section *******************************/


/*********************************** Footer *********************************************/


footer {
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.192);
  height: auto;
}

img.footer-email {
  max-width: 200px;
  width: 100%;
  border: unset;
}

a.footer-phone, a:link.footer-phone, a:active.footer-phone {
  text-decoration: none;
  color: inherit;
}

/*********************************** End of Footer *********************************************/


